{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" href="../static/user/css/home.css">

{% endblock %}


{% block body %}

   <span class="propertyListHeader"> {{header}} </span>
	
  <h4>Change Your Password, {{user.username}}</h4>
  <form method="POST" action="{% url 'user:change_password' %}" class="change_password">
    {% csrf_token %}
      
    {{ form.as_p }}
    <input type="submit" class="change_password" value='Change'>
  </form>
  
  <script src="../static/user/js/home.js"></script>


{% endblock %}



