{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" href="/static/user/css/home.css">

{% endblock %}


{% block body %}
  
  <div class = "row propertyList">
  
  	<div class = "col s6 welcomeHeader">
      <h4>Welcome back, {{user.username}}</h4>
    </div>
    <div class = "col s6 cityStateQuickSearch">
      <input type="text" id = "cityStateInput" placeholder="Quick Search by City or State">
    </div>


  </div>
  <!-- {% for property in properties %} -->
	
  <ul id = "propertyList">
    <!-- <li>
    <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">{{property.address}} {{property.city}} {{property.state}} {{property.zipcode}}</span>
              <ul >
                <li> <span style="font-weight:bold;">Address: </span> {{property.address}}, {{property.city}}, {{property.state}}, {{property.zipcode}} </li>
                {% if property.bedrooms == 0 %}
                <li> <span style="font-weight:bold;">Bedrooms: </span> Information Unavailabe </li>
                {% else %}
                <li> <span style="font-weight:bold;">Bedrooms: </span>{{property.bedrooms}} </li>
                {% endif %}
                {% if property.bathrooms == 0 %}
                <li> <span style="font-weight:bold;">Bathrooms: </span>Information Unavailabe </li>
                {% else %}
                <li> <span style="font-weight:bold;">Bathrooms: </span>{{property.bathrooms}} </li>
                {% endif %}
                <li> <span style="font-weight:bold;">Price: </span>${{property.current_price}} </li>
                {% if property.sq_ft == 0 %}
                <li> <span style="font-weight:bold;">Square Footage: </span> Information Unavailabe </li>
                {% else %}
                <li> <span style="font-weight:bold;">Square Footage: </span>{{property.sq_ft}}ft </li>
                {% endif %}
                <li> <a href="/property/single/{{property.id}}"> Click to see other Investors </a> </li>
              </ul>
            </div>
            <div class="card-action">
              <a href="/property/single/{{property.id}}">More Info </a>
            </div>
    </div>
    </li> -->
  </ul>

    <!-- {% endfor %} -->
   

   {% block js %}

  <script src="/static/user/js/home.js"></script>
    {% endblock %}

{% endblock %}



