{% extends "base.html" %}

{% block css %}

<link rel="stylesheet" href="/static/user/css/personalPage.css">

{% endblock %}

{% block body %}
	<div class="row personalInfo">
		<div class="col s3 personalInfoCol profilePicture">
			<div class="hypotheticalProfilePic">
				<p> Profile Picture Coming Soon </p>
				<!-- WHERE IMAGE TAG WOULD GO -->
			</div>
		</div>
		<div class="col s4 personalInfoCol userInfo">
				
				<h5 class="userInfoHeader"> First Name: </h5>
				<p class= "userInfoText">{{user.first_name}}
				</p>
				<h5 class="userInfoHeader"> Last Name: </h5>
				<p class= "userInfoText">{{user.last_name}}</p>
				<h5 class="userInfoHeader"> Description: </h5>
				<textarea id = "descriptionBox">{{userProfile.description}} Temporary Description to see what it will look like when someone describes themselves however they see fit!
				</textarea>
				<p id= "changeInfoText">
				To change your personal info, fill in the boxes above and then click "Update Info"
				</p>
				<input  class="changeUserInfo" type="submit" value="Update">

		</div>
		<div class="col s4 personalInfoCol editInfo">
			<form action='/account/edit' method = 'POST' class="infoEditForm">
				{% csrf_token %}
				{{form.as_p}}
				<input  class="submitNewUserInfo" type="submit" value="Update Info">
				<!-- PUT EVENT LISTENER TO FLIP BETWEEN SHOW/EDIT -->
			</form>
		</div>
		<!-- <div class="message_div">
			{% if message %}
			<p class="messade">
				{{message}}
			</p>
			{% endif %}
		</div> -->
		<!-- <div class="col s4 propertyRightSide">
			<ul class="accountPagePropertyList">
			{% for property in properties %}
				<li>
					<div class="card blue-grey darken-1">
			            <div class="card-content white-text">
			              <span class="card-title">{{property.address}} {{property.city}} {{property.state}} {{property.zipcode}}</span>
			              <ul>
			              	<li> <span style="font-weight:bold;">Address: </span> {{property.address}}, {{property.city}}, {{property.state}}, {{property.zipcode}} </li>
							{% if property.bedrooms == 0 %}
							<li> <span style="font-weight:bold;">Bedrooms: </span> Information Unavailabe </li>
							{% else %}
							<li> <span style="font-weight:bold;">Bedrooms: </span>{{property.bedrooms}} </li>
							{% endif %}
							{% if property.bathrooms == 0 %}
							<li> <span style="font-weight:bold;">Bathrooms: </span>Information Unavailabe </li>
							{% else %}
							<li> <span style="font-weight:bold;">Bathrooms: </span>{{property.bathrooms}} </li>
							{% endif %}
							<li> <span style="font-weight:bold;">Price: </span>${{property.current_price}} </li>
							{% if property.sq_ft == 0 %}
							<li> <span style="font-weight:bold;">Square Footage: </span> Information Unavailabe </li>
							{% else %}
							<li> <span style="font-weight:bold;">Square Footage: </span>{{property.sq_ft}}ft </li>
							{% endif %}
							<li> <a href="/property/{{property.id}}"> Click to see other Investors </a> </li>
			            </ul>
			            </div>
			            <div class="card-action">
			            	<a href="/property/{{property.id}}">More Info </a>
			            </div>
		          </div>
	          </li>
          {% endfor %}
          	</ul>
		</div> -->
	</div>
{% endblock %}
