/*EXTENDS FROM base.css*/
/* CSS order read from top of webpage down*/

/*Changing Materialize Defaults*/

.row{
	margin:0;
	padding:0;

}

.col{
	margin: 0;
	padding: 0;

}

input:not([type]), input[type=text], 
input[type=password], input[type=email],
input[type=url], input[type=time],
input[type=date], input[type=datetime], 
input[type=datetime-local], input[type=tel], 
input[type=number], input[type=search], 
textarea.materialize-textarea  {

    margin:2%;
	text-align: center;
	width: 60%;

}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    lightblue;
     opacity: 1 !important;
}

/*FILTER AREA*/

#filterOptionsHeader{
	text-decoration: underline;
	

}


.filterButtonArea{

	margin-top: 1%;
	margin-bottom: 1%;

}


.filterArea{
	border: solid black 2px;	
	
	display: none;

}

.filterRow{
	background-color: pink;

}

.filterColumn{

	border: dashed red 1px;
	display:flex;
	flex-direction: column;
	align-items: center;

}

.filterOptionName{
	text-align: center;
	color: darkblue;

}

.filterInput{
	margin: 0;
	padding: 0;
	width: 60%;
}


#cityChoice{
	display: flex;

}

#searchInput{

	height:10vh;
	width:40%;
	font-size: 300%;

}

/*PROPERTTIES LIST SECTION*/



.propertiesRow{

	/*overflow-y: auto;*/
	/*height:60%;*/
	margin-left: 2vh;
	margin-right: 2vh;
	border-top: grey 2px solid;
	margin-top: 3%;

}

/*.propertiesListItem{
	height:10vh;


}*/

.card .card-content{
	padding: 1%;

}


.card .card-action {
	padding:0.5%;

}

.propertyTitle{

	margin:0;
	padding: 0;

}

