.hypotheticalProfilePic{

	border: dashed grey;
	background-color: lightyellow;
	height: 30vh;
	text-align: center;
	vertical-align: center;
	margin-top: 2vh;


}

.propertyRightSide{
	height:50vh;
	overflow-y: auto;
/* 	white-space: nowrap;*/


}

.userInfo{

	border: solid grey;
	margin-top: 2vh;


}
.submitNewUserInfo{
	margin-bottom: 2%;

}

.submitNewUserInfo:hover{

	background-color: lightblue;

}

/*.card{

	height:30vh;
	margin-bottom: 1em;

}*/