.wrapEverything{
	margin:0;


}
.bodyContent{

	margin:0;

}


.navPortion{

	height:15vh;
	background-color: #E4B363;
	margin:0;
	padding:0;


}

.mainStruct{

	height:100vh;
	margin:0;
	margin-bottom: 0;
	padding:0;
	overflow-y: auto;

}


.sidePortion{

	background-color: #BEBFC1;
	border:none;



}
.middleNav{

	margin:0;
	padding:0;
	height:100%;


}


.navBar{
	margin:0;
	padding:0;
	height:100%;
	background-color: #E4B363;


}

.navOption{
	
	margin:0;
	height:100%;
	text-align: center;
	padding:0;
	display:flex;
	align-items: center;
	justify-content: center;
	
}

.aTagNav{
	padding:0;
	margin:0;
	/*height:100%;*/
	font-size: 4vh;
	color:white;
	/*width:100%;*/
}

.aTagNav:hover{
	/*background-color: white;*/
	color:lightblue;
	text-decoration: underline;




}

.logoArea{
	margin:0;
	padding:0;
	height:100%;
	text-align: center;
	vertical-align: center;

}

.logoRealVest{
	height:100%;
	font-size: 8vh;
	color: white;
	font-family: cursive;



}
.motto{
	margin:0;
	padding:0;

}



.searchBarFormArea{

	height:100%;

}

.searchBarForm{

	height:100%;
}

.modifyInput{

	height:3vh;
	margin:0;
	padding:0;
	color:black;


}


.searchButton{
	height:3vh;
	margin:0;
	padding:0;



}

.searchButton:hover{
	background-color: lightblue;


}

/*#searchBar{

	position: relative;
	background: transparent;
	width: 10vh;
	border: none;
	outline: none;
	padding: 0;


}

.searchContainer{

	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
}*/