/*PROPERTY STUFF*/
.property{


	


}

.propertyInfoArea{

	height:40vh;

}

.titles{
	border-bottom-color: lightgrey 10px;
	border-bottom-width: 20px;
	text-align: center;

	/*border: dashed black;*/
	


}

.titles h3{

	color: #53B6C6;
	text-decoration: underline;

}

.googleMaps{

	margin: 0;
	padding: 0;
	margin-top: 15px;
	border: solid black;
}

.singlePagePropInfo{

	font-size: 4vh;

}


/*BUTTONS*/

.buttonsSingleProperty{

	margin:0;
	padding:0;
	height:100%;
	text-align: center;


}

.buttonsSingleProperty span{

		font-size: 5vh;


}

.saveInvest{
	margin: 0;
	padding:0;
	height:4vh;
	width:20vh;


}

.saveInvest:hover{

	background-color: lightblue;
}

#investmentAmount{
	color: darkgreen;
	font-size: 3vh;

}
#investmentAmountMessage{
	font-size: 3vh;
	font-weight: bold;

}

.viewAccountToSee{
	font-size: 3vh;
	text-decoration: underline;

}



/*FORM FOR INVESTING*/



#formToInvest{

	display:none;
	margin:0;
	padding:0;



}

/*OTHER INVESTORS*/

.investorsArea{
	border-top: solid grey;
	border-bottom: solid grey;


}

.investorOnPropertyUL{

	font-size:2vh;
	list-style: square;
	display: flex;

}

.investorOnProperty{
	justify-content: center;
	text-align: center;
	margin: 3%;
	background-color: lightyellow;
	border: solid 1px grey;
/*	border: dashed black;*/

}

.investedAmountP{
	margin: 2%;


}

.moneys{

	color: darkgreen;

}


