<!DOCTYPE html>
<html>	
	<head>
		<title> RealVest </title>
		<link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css">
		<link rel="stylesheet" href="../static/user/css/base.css">
		{% block css %} {% endblock %}

	</head>

	<body>
	<div class="wrapEverything">
		<div class="row navPortion">
			<div class="col s1"></div>

			<div class="col s10 middleNav">
				<div class="row navBar">
					<div class="col s3 logoArea">
						<a href="{% url 'home' %}" class="logoRealVest" > RealVest
						</a>
						<p class="motto"> "Pooled Real Estate Investment"</p>
					</div>
					<div class="col s3 searchBarFormArea">
						<form class="searchBarForm" method="POST" action="/search">
								<input type = "text" class="modifyInput" placeholder="Please Input a City (i.e. Manhattan)" name="searchBarInput" required>
								<input type = "submit" class="searchButton" value="Search">					
						</form>

					</div>
					<div class="col s2 navOption">
						<a href="{% url 'private_account' %}" class="aTagNav">ACCOUNT</a>
					</div>
					<div class="col s2 navOption">
						<a href="{% url 'property_list' %}" class="aTagNav">PROPERTIES</a>
					</div>
					<div class="col s2 navOption">
						<a href="{% url 'logout' %}" class="aTagNav">LOGOUT</a>
					</div>
				</div>
	    	</div>

			<div class="col s1"></div>
    	</div>

		<div class="row bodyContent">
			<div class="col s1 mainStruct sidePortion"></div>
			<div class="col s10 mainStruct">

			{% block body %}

			{% endblock %}

			</div>
			<div class="col s1 mainStruct sidePortion"></div>
    	</div>
	</div>   





	{% block js %}
	<script src="../static/user/js/base.js"></script>
	{% endblock %}

	</body>


</html>