


.ToggleChoice{

	background-color: lightgrey;

}

.investorSection{

	display:none;

}


.realtorSection{

	display:none;

}


.loginTitle{

	color: darkblue;
	margin:0;
	padding:0;
	text-align: center;



}

.loginTextInput{


	width:20%;
	margin:0;
	padding:0;


}

#signUpFormActive{
	display: none;


}

.active{

	display: block;
	background-color:lightgrey;

}


.formActive{
	display: block;


}

.aLoginForm{

	display:none;

}