{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="/static/properties/css/properties.css">
{% endblock %}


{% block body %}
	<div class = "row filterRow">

		<div class = "col s2 filterColumn" id="filterTitle">
			<h5> Filter Options </h5>
		</div>

		<div class = "col s4 filterColumn" id="cityChoice">
			<h6> City </h6>
			<input type="text" class="filterInput" id="cityInput">
		</div>
		<div class = "col s4 filterColumn" id="cityChoice">
			<h6> State </h6>
			<input type="text" class="filterInput" id="stateInput">
		</div>
		<div class = "col s2 filterColumn" id="hideButton">
			<input type="submit" id = "hideInput" value = "Hide">
		</div>

	</div>

	<div class = "row propertiesRow">
		<ul>
			<li class = "col s12 propertiesListColumn">
				<div class="card blue-grey darken-1">
		            <div class="card-content white-text">
		              <span class="card-title">EXAMPLE</span>
		              <p>I am a very simple card. I am good at containing small bits of information.
		              I am convenient because I require little markup to use effectively.</p>
		            </div>
	<!--             <div class="card-action">
	              <a href="#">This is a link</a>
	              <a href="#">This is a link</a>
	            	</div> -->
	          	</div>
			</li>
			<li class = "col s12 propertiesListColumn">
				<div class="card blue-grey darken-1">
		            <div class="card-content white-text">
		              <span class="card-title">EXAMPLE</span>
		              <p>I am a very simple card. I am good at containing small bits of information.
		              I am convenient because I require little markup to use effectively.</p>
		            </div>
	<!--             <div class="card-action">
	              <a href="#">This is a link</a>
	              <a href="#">This is a link</a>
	            	</div> -->
	          	</div>
			</li>
		</ul>

	</div>
{% endblock %}

{% block js %}

<script src="/static/properties/js/properties.js"></script>

{% endblock %}


